#searchInputGroup {
    text-align:left;
    margin-top: 2%;
    color: beige;
    text-decoration-color: aqua;
}

#bg-content {
    margin-top: 1%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFDFDF));
}

#back-button {
    margin-top: 1%;
    margin-bottom: 1%;
}